<h3>Video Approved by reviewer</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %>,Video Reviewed by <%= order.try(:reviews).try(:first).try(:user).try(:fullname) %></td>
        <td><%= link_to 'Approve', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
