<h3>Video Pending Approval</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.payment.present? %>
        <tr>
          <td><%= "#{order.user.try(:fullname)}'s #{order.try(:title)}" %></td>
          <td><%= link_to 'Click To Review', admin_review_order_path(order) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
