<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <!-- <th>Description</th>
      <th>Video</th>
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <!-- <td><%= order.description %></td> -->
        <%# if order.videos.present? %>
          <%# order.videos.each do |video| %>
            <!-- <td><%#= video_tag video.video_url.url, controls: true, autobuffer: true %> </td> -->
          <%# end %>
        <%# end %>
        <td><%= link_to 'Click To Review', admin_review_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
