<div class="container">
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">Orders</li>
    </ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
        <div class="tab_content col-xs-12">
          <form class="col-xs-12">
            <ul class="col-xs-12">
              <div class="col-xs-12 col-sm-8 nopadding_lr">
                <li class="col-xs-12 nopadding_lr">
                  <div class=" col-xs-12 col-sm-2 nopadding_lr"> <span class="box" style="border-color:transparent;">
                    <h2 class="pull-left">Filter</h2>
                    </span> </div>
                  <div class="col-xs-12 col-sm-10 nopadding_lr"> <span class="box"> <%= image_tag "icons/search.png" %>
                    <input type="text" name="search">
                    </span> </div>
                </li>
              </div>
              <div class="col-xs-12 col-sm-4">
                <li class="col-xs-12 nopadding_lr">
                  <div class=" col-xs-8 nopadding_lr"> <span class="box" style="border-color:transparent;">
                    <h2 class="pull-right">show</h2>
                    </span> </div>
                  <div class="col-xs-4 nopadding_lr"> <span class="box arrow_down">
                    <select id="per_page_select">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10" selected>10</option>
                    </select>
                    </span> </div>
                </li>
              </div>
            </ul>
          </form>
        </div>
        <div id="per_page_data">
          <%= render "per_page_data", :@orders => @orders %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#per_page_select").change(function(){
  val = $(this).val();
  $.ajax({
    url:'/admin/list_of_orders',
    type: 'GET',
    data:{per_page:val},
    dataType: 'script'
  });
});
</script>
