<h3>Video Approved by reviewer</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %></td>
        <td><%= link_to 'Review Approve', "#" %></td>
        <td><%= link_to 'Review Reject', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
