<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= Order::STATUS.key(order.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
