<h3>Video Approved by reviewer</h3>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Approve / Reject Review</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %></td>
        <td><%= link_to "Approve / Reject " ,admin_review_details_path(order.id) %></td>
        <!-- <td><%#= link_to 'Review Approve', admin_approval_of_admin_path(order.id,status: 5) %></td> -->
        <!-- <td><%#= link_to 'Review Reject', admin_approval_of_admin_path(order.id,status: 6) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
