<h3>Reviewed Videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= Order::STATUS.key(order.status) %></td>
        <td><%= link_to 'Details', admin_review_details_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
