<h3>Video Pending Approval </h3>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Approve / Reject Review</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %></td>
        <td><%= link_to "Approve / Reject " ,admin_review_details_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
