<p>Hello <%= @user.fullname %>!</p>

<p>Your email address is <%= @user.email %> and password for login is <%= @password %>.</p>

<p>We are also send you conformation email through which you can confirm your account first and continue further.</p>
