<div class="container">
	
    <div class="dashboard col-xs-12 nopadding_lr">
    	<ul>
            <!-- Dash 1 -->
            <li class="col-xs-12 col-sm-6">
                <a href="#">
                    <h2>09</h2>
                    <h3>Videos to be approved</h3>
                </a>
            </li>
            
            <!-- Dash 2 -->
            <li class="col-xs-12 col-sm-6">
                <a href="#">
                    <h2>43</h2>
                    <h3>Reviews to be approved</h3>
                </a>
            </li>
            
            <!-- Dash 3 -->
            <li class="col-xs-12 col-sm-6">
                <a href="#">
                    <h2>158</h2>
                    <h3>Total orders</h3>
                </a>
            </li>
            
            <!-- Dash 4 -->
            <li class="col-xs-12 col-sm-6">
                <a href="#">
                    <h2>276</h2>
                    <h3>Total users</h3>
                </a>
            </li>
        </ul>
    </div>
    
</div>