<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Contact Us</h4>
    <p>Hello Admin,<br></p>
    <p>
      <h4>User Details</h4>
      <table>
        <tr>
          <td>User Email: </td><td><%= @email%></td>
        </tr>
        <tr>
        <td>Message: </td><td><%= @message_body%></td>
        </tr>
        </table>
    </p>
  </body>
</html>