<% if current_user.present? %>
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">FAQ</li>
    </ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block;">
        <div class="tab_content col-xs-12 policy">
          <ul>
              <li>
                <p>
                  <span class="green"><strong>Question:</strong> Do I need to upload the full game video, or can I upload each half separately? </span>
                  <br/>
                  <strong>Answer:</strong> It is up to your preference. You will have an option to upload either the full game, or each half separately.
                </p>
              </li>

              <li>
                <p>
                  <span class="green"><strong>Question:</strong> How long does it take to receive my review?</span>
                  <br/>
                  <strong>Answer:</strong> Even though our reviewers are full time coaches at the best clubs in the world, we expect them to review your video within five days after it has been uploaded.
                </p>
              </li>

               <li>
                <p>
                  <span class="green"><strong>Question:</strong> What does technical analysis include?</span>
                  <br/>
                  <strong>Answer:</strong> Our coaches will look for and note your weaknesses and strengths when you pass, receive, dribble, and shoot the ball. They will also pinpoint specific examples in the video when you made a technical mistake and summarize the topics you need to work on in order to prevent those mistakes in the future.
                </p>
              </li>

               <li>
                <p>
                  <span class="green"><strong>Question:</strong> What does tactical analysis include?</span>
                  <br/>
                  <strong>Answer:</strong> Tactical analysis will focus on the way you think on the field and what decisions you make in certain situations with and without the ball. Tactical analysis is usually longer than technical analysis.
                </p>
              </li>

              <li>
                <p>
                  <span class="green"><strong>Question:</strong> How will coach recognize me on the field?</span>
                  <br/>
                  <strong>Answer:</strong> You will have an option to provide us with your jersey color, jersey number and any other relevant information that will help us to recognize you on the field prior to uploading the video. Preferably, video will focus on you prior to the start of the game so coaches can easily recognize you (note that this is optional).
                </p>
              </li>

              <li>
                <p>
                  <span class="green"><strong>Question:</strong> Do I need a professional video camera to record the video?</span>
                  <br/>
                  <strong>Answer:</strong> Not necessarily. Most of the smartphones can record HD videos and by purchasing the tripod stand and recording it with your phone, you can save money. However, please make sure the video is recorder horizontally.
                </p>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="main_bg">
  <div class="container margin_btm_80">
    <div id="TabbedPanels1" class="TabbedPanels">
      <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">FAQ</li>
      </ul>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block;">
          <div class="tab_content col-xs-12 policy">
            <ul>
                <li>
                  <p>
                    <span class="green"><strong>Question:</strong> Do I need to upload the full game video, or can I upload each half separately? </span>
                    <br/>
                    <strong>Answer:</strong> It is up to your preference. You will have an option to upload either the full game, or each half separately.
                  </p>
                </li>

                <li>
                  <p>
                    <span class="green"><strong>Question:</strong> How long does it take to receive my review?</span>
                    <br/>
                    <strong>Answer:</strong> Even though our reviewers are full time coaches at the best clubs in the world, we expect them to review your video within five days after it has been uploaded.
                  </p>
                </li>

                 <li>
                  <p>
                    <span class="green"><strong>Question:</strong> What does technical analysis include?</span>
                    <br/>
                    <strong>Answer:</strong> Our coaches will look for and note your weaknesses and strengths when you pass, receive, dribble, and shoot the ball. They will also pinpoint specific examples in the video when you made a technical mistake and summarize the topics you need to work on in order to prevent those mistakes in the future.
                  </p>
                </li>

                 <li>
                  <p>
                    <span class="green"><strong>Question:</strong> What does tactical analysis include?</span>
                    <br/>
                    <strong>Answer:</strong> Tactical analysis will focus on the way you think on the field and what decisions you make in certain situations with and without the ball. Tactical analysis is usually longer than technical analysis.
                  </p>
                </li>

                <li>
                  <p>
                    <span class="green"><strong>Question:</strong> How will coach recognize me on the field?</span>
                    <br/>
                    <strong>Answer:</strong> You will have an option to provide us with your jersey color, jersey number and any other relevant information that will help us to recognize you on the field prior to uploading the video. Preferably, video will focus on you prior to the start of the game so coaches can easily recognize you (note that this is optional).
                  </p>
                </li>

                <li>
                  <p>
                    <span class="green"><strong>Question:</strong> Do I need a professional video camera to record the video?</span>
                    <br/>
                    <strong>Answer:</strong> Not necessarily. Most of the smartphones can record HD videos and by purchasing the tripod stand and recording it with your phone, you can save money. However, please make sure the video is recorder horizontally.
                  </p>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>