<!-- <p> Welcome <%#= current_user.fullname %> to football video review app!!!!!!!!!!!! </p> -->
<div class="container">
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">Get Reviewed by Professional Coaches</li>
    </ul>

      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">

          <div class="col-xs-12">
            <div class="col-sm-1 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
              <div class="welcome col-sm-12 col-xs-12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
                </p>
              </div>
            </div>
            <div class="col-sm-1 col-xs-12"></div>
          </div>

          <div class="col-xs-12">
            <div class="col-sm-1 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12 our_reviewer_inc">
              <button>Our Reviewers Include ...</button>

              <div class="col-xs-12">
                <div class="reviewers_in col-sm-4 col-xs-12">
                  <%= image_tag "reviewer_img.png" %>
                  <h3>Michael Gibson</h3>
                  <p>Coach : Real Madrid</p>
                </div>
                <div class="reviewers_in col-sm-4 col-xs-12">
                  <%= image_tag "reviewer_img.png" %>
                  <h3>Kevin Smith</h3>
                  <p>Coach : FCB</p>
                </div>
                <div class="reviewers_in col-sm-4 col-xs-12">
                  <%= image_tag "reviewer_img.png" %>
                  <h3>John North</h3>
                  <p>Coach : Real Madrid</p>
                </div>
                <p class="many_more_txt col-xs-12">... and many more</p>
              </div>

              <div class="col-xs-12">
                <div class="col-sm-3 col-xs-12">
                </div>
                <div class="purchase_review_button col-sm-6 col-xs-12">
                  <button>Purchase Your Review</button>
                </div>
                <div class="col-sm-3 col-xs-12">
                </div>
              </div>

            </div>
            <div class="col-sm-1 col-xs-12"></div>
          </div>

        </div>

      </div>
  </div>
</div>