<h3>Orders</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>View Order</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td>
          <%= link_to 'Show', order %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

