<!-- Banner starts -->
<div class="container-fluid banner1">
  <div class="home_container">
    <div class="col-xs-12 title text-center">
      <h2>Professional Game Review</h2>
      <h3>At Sportenity, we truly believe that if you want to be the best, you have to learn from the best. That is why we've selected coaches from top soccer academies to help you achieve your dreams.</h3>
    </div>
  </div>
</div>
<!-- Banner Closed -->

<!-- progress section -->
<div class="container-fluid process text-center">
  <div class="home_container">
    <div class="title col-xs-12">
      <h2 class="green_home">Simple 3-step Process</h2>
    </div>

    <!-- service1 -->
    <div class="service col-xs-12 col-sm-4">
      <h2>Purchase your review</h2>
      <%= image_tag "purchase.png" %>
      <p>Single video reviews for players U12 and under is $150, while for players U13 and over is $200.</p>
    </div>
    <!-- service1 closed-->

    <!-- service2 -->
    <div class="service col-xs-12 col-sm-4">
      <h2>Upload your video</h2>
      <%= image_tag "upload.png" %>
      <p>You can upload the entire game, or first and second half separately.</p>
    </div>
    <!-- service1 closed-->

    <!-- service1 -->
    <div class="service col-xs-12 col-sm-4">
      <h2>Get reviewed</h2>
      <%= image_tag "review.png" %>
      <p>The review will contain in-depth technical and tactical analysis in which coaches will pinpoint your strengths and weaknesses and what you need to work on to achieve your goals.</p>
    </div>
    <!-- service1 closed-->

    <div class="col-xs-12 col-sm-4"></div>

    <div class="col-xs-12 col-sm-4 service">
      <a href="<%= new_user_registration_path %>">
        <button>Get Started</button>
      </a>
    </div>

    <div class="col-xs-12 col-sm-4"></div>

  </div>
</div>
<!-- progress section -->

<!-- Banner2 starts -->
<div class="container-fluid banner2">
  <div class="home_container">
    <div class="col-xs-12 title text-center">
      <h2>TRUSTED COACHING STAFF</h2>
      <h3>Our coaching staff includes professionals from Spanish Top-Tier Programs. These coaches develop the best players in the world year in and year out. They will provide you with a detailed technical and tactical analysis that will give you the insights you need to improve.</h3>
    </div>
  </div>
</div>
<!-- Banner2 Closed -->

<!-- footer starts -->
<div class="container-fluid home_footer">
  <div class="home_container">
    <!-- <div class="col-xs-12 col-sm-5"> -->
      <!-- <h2>Navigate</h2>
      <a href="#">Support</a>
      <a href="<%#= new_user_registration_path %>">Register</a>
      <a href="#">Feedback</a> -->
    <!-- </div> -->

    <div class="col-xs-12 col-sm-4"></div>

    <div class="col-xs-12 col-sm-4 text-center">
      <h2>Connect with Us</h2>
      <a href="https://www.facebook.com/sportenity/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Sportenity_usa"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <!-- <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
      <a href="https://www.instagram.com/sportenity/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-4"></div>
  </div>
</div>
<!-- footer closed -->