<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @order.user.fullname %>,<br></p>
    <p></p>
    <h4>Video approved by admin and waiting for reviewer approval.</h4>
    <p> Feel free to contact us at from@example.com with any questions.</p>
    Thank You<br>
    Team Sportenity
  </body>
</html>