<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Hello <%= @user.first_name %>,<br></p>
    <p></p>
    <p>Video reviewed by <%= @order.reviews.last.user.fullname %>.</p>

    <p> Feel free to contact us at support@sportenity.com if any questions.</p>

    Thank you,<br>
    Team Sportenity

  </body>
</html>