<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.first_name %>,<br></p>
    <p></p>
    <h4>Your video upload is complete. We will notify you once the video has been reviewed.</h4>

    Thank You<br>
    Team Sportenity
  </body>
</html>