<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.first_name %>,<br></p>
    <p></p>

    <h4>New video was uploaded by <%= @order.try(:user).try(:first_name) %>. </h4>

    Thank You<br>
    Team Sportenity
  </body>
</html>