<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Hello <%= @user.first_name %>,<br></p>
    <p></p>
    <p>Your video upload is complete. We will notify you once the video has been reviewed.</p>

    Thank you,<br>
    Team Sportenity

  </body>
</html>