<footer class="container-fluid">
	<div class="container">
  	<ul>
    	<li><a href="<%= about_path %>">About</a></li> |
      <li><a href="<%= faq_path %>">FAQ</a></li> |
      <li><a href="<%= contact_us_mail_path %>">Contact Us</a></li>
    </ul>
    <div class="copy-right">
    	<p>Copyright © Sportenity 2016</p>
    </div>
  </div>
</footer>