.menu-font{
	font-size: 14px!important;
}

.list-image-height{
	width: 50px;
	height: 50px;
}

.quillheight{
	height: 100px!important;
}

.addlink{
	float: left;
  padding-left: 15px;
}

.success_div{
  padding-bottom:2px;
  color:green;
  font-size:20px;
}

.error_div{
  color:red;
  font-size:14px;
}

.profile-img{
	height: 30px!important;
	width: 30px!important;
}

.reviewer-icon{
	height: 180px!important;
	width: 180px!important;
}

.box > .dropdown-menu{
	z-index: 99999999999999;
}

.box > .dropdown-menu li{
	padding:0px;
	border-bottom:none;
}

.box > .dropdown-menu li:hover{
	background-color:transparent;
}

.mrg-btn{
  margin-bottom: 5px;
}