.menu-font{
	font-size: 14px!important;
}

.list-image-height{
	width: 50px;
	height: 50px;
}

.quillheight{
	height: 300px!important;
}

.addlink{
	float: left;
  padding-left: 15px;
}

.success_div{
  padding-bottom:2px;
  color:green;
  font-size:20px;
}

.error_div{
  color:red;
  font-size:14px;
}

.profile-img{
	height: 30px!important;
	width: 30px!important;
}

.reviewer-icon{
	height: 180px!important;
	width: 180px!important;
}

.box > .dropdown-menu{
	z-index: 99999999999999;
}

.box > .dropdown-menu li{
	padding:0px;
	border-bottom:none;
}

.box > .dropdown-menu li:hover{
	background-color:transparent;
}

.mrg-btn{
  margin-bottom: 5px;
}

.our_reviewer_inc {
  display:inline-block;
  width:100%;
  padding:10px 0;
  margin-top:20px;
  color:#fff;
  font-size:20px;
  font-weight:300;
  background: rgb(69,79,88);
  background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%);
  background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%);
  background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%);
  border:0;
  outline:0;
}

.wdth100
{
  width: 100%
}

.no-border{
  border:none!important;
}

.fix-height-width{
  width:60px!important;
  height: 60px!important;
}

.paddingr15{
  padding-right: 15px !important;
}