@font-face {
  font-family:"momondo";
  src: url(asset-path('momondo.otf')) format('truetype');
}

header{
  background-color:#343d46;
  padding:10px 0;
}

.logo{
  margin:0 auto;
  padding:0;
}

.logo a{
  font-size:30px;
  color:#3fbc78 !important;
  font-family:momondo !important;
  text-decoration: none;
}