.navBar {
	/*background:#343D46;*/
	min-width: 100%;
}
.wrapper {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 2%;
}
.wrapper > ul {
	padding: 0;
}
.navigation ul li {
	padding:0px;	
}
nav ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 50%;
}
nav ul a {
	color: #E84545;
	text-decoration: none;
	display:block;
}
nav ul a:hover {
	color: #903749;
}
nav li {
	display: inline-block;
}
nav #menu-toggle {
	display: none;
}
nav .label-toggle {
	display: none;
}
nav .wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

/*.navbar-nav .open .dropdown-menu {
	background-color:#343d46;
	border:1px solid #c2c2c2;
}*/

.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
	width:100%;	
}

@media screen and (max-width: 768px) {
nav ul {
	/*background-color: #E84545;*/
	display: block;
	height: 0;
	list-style-type: none;
	opacity: 0;
	text-align: left;
	width: 100%;
	visibility: hidden;
}
nav li {
	/*border-bottom: 2px solid #53354A;*/
	color: #343D46;
	display: block;
	font-size: 14px;
	padding: 1em 0;
}

nav a:hover > li{
	color:#37bf75;
}

nav #menu-toggle:checked ~ ul {
	opacity: 1;
	height: auto;
	visibility: visible;
	clear: both;
	margin-bottom:5px;
}
nav .label-toggle {
	background: linear-gradient(to bottom, #343D46 0%, #343D46 20%, transparent 20%, transparent 40%, #343D46 40%, #343D46 60%, transparent 60%, transparent 80%, #343D46 80%, #343D46 100%);
	cursor: pointer;
	display: block;
	float: left;
	height: 20px;
	margin-top: 0.5em;
	width: 25px;
}
nav .wrapper {
	display: block;
}
}

@media only screen and (max-width:768px){
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		text-align:right;
		padding-left:0;
		padding-right:0;
	}	
}