/*Responsive media queries*/

@media only screen and (max-width:1200px){
	.tab_content form ul li span select{
		width:72%;
	}
}

@media only screen and (max-width:960px){
	.container{
		width:100%;
	}
}

@media only screen and (max-width:993px){
	.logo, .navigation{
	/*	width:100% !important;*/
		text-align:center;
		margin-bottom:10px;
	}

	.logo img{
		width:200px;
	}


	.TabbedPanelsTab{
		padding:10px 5px !important;
		font-size:16px !important;
	}

	.tab_content form ul li h2{
		font-size:16px;
	}

	.tab_content form ul li a{
		font-size:18px;
	}

	.box img{
		width:20px;
		height:20px;
	}

	.tab_content form ul li span input{
		width:83%;
	}

	.tab_content form ul li button{
		font-size:18px;
	}

	.radio label{
		margin:0 5px !important;
	}

	.radio, .checkbox{
		margin:3px 0;
	}

	footer ul{
		width:100%;
		text-align:center;
		margin-bottom:10px;
	}

	.copy-right{
		width:100%;
		text-align:center;
	}

	footer ul li{
		padding:0 5px !important;
	}

	footer ul li a, .copy-right p{
		font-size:15px;
	}

	.tab_content form ul li span select{
		padding: 0;
	}

	.tab_content form ul li button {
    	font-size: 18px;
	}

	.welcome p{
		font-size: 16px;
	}
	.our_reviewer_inc{
		font-size: 16px!important;
	}
	.reviewers_in h3{
		font-size: 16px!important;
	}
	.reviewers_in p{
		font-size: 16px!important;
	}
	.cancel_payment_btn{
		font-size: 16px;
	}

	.tab_content form ul li span input{
		font-size: 16px!important;
	}

	table > thead > tr > th{
		font-size: 16px !important;
	}

	.table > tbody > tr > td{
		font-size: 15px !important;
	}

	.video-title-txt h2{
		font-size: 16px !important;
	}

	.video-title-txt p{
		font-size: 15px !important;
	}

	.video-title-txt span{
		font-size: 15px !important;
	}

	.click_review_btn a{
		font-size: 14px !important;
	}

	.modal-header .close{
		margin-top: 2px !important;
	}

	.modal-body form ul li button{
		font-size: 16px !important;
	}

}

@media only screen and (max-width:768px){
	.nopadding_lr_res{
		padding-left:0;
		padding-right:0;
	}

	.container{
		padding-left:0;
		padding-right:0;
	}

	.logo, .navigation{
	/*	width:100% !important;*/
		text-align:center;
		margin-bottom:10px;
	}

	.logo img{
		width:200px;
	}

	.col-xs-2.text-left > img {
		width:95%;
	}
	.reviewer_details h3 {
		font-size:18px;
	}
	.reviewer_details p {
		font-size:15px;
	}

	
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{
		text-align: center!important;
	}

	.page h4{
		width:100%;
		text-align:center;
		margin-bottom:10px;
	}

	.pagination{
		margin:0 auto;
		display:inline-block;
		float:none !important;
	}

	.header_title h2{
		text-align: center !important;
		width: 100% !important;
		margin-bottom: 10px !important;
	}

	.order_details h2{
		font-size: 18px !important;
	}

	.order_details li{
		font-size: 16px !important
	}

	.order_details h3{
		font-size: 16px !important;
	}

	.order_details p{
		font-size: 15px !important;
	}

	.main_order_details h3{
		font-size: 16px !important;
	}

	.main_order_details li{
		font-size: 16px !important;
	}

	.main_order_details p{
		font-size: 15px !important;
	}

}

@media only screen and (min-width:768px) and (max-width:940px){
	.reviewer_details li {
		font-size:19px;
		margin-right:8px;
	}
	.saved_notes_btn {
		padding-left:0 !important;
	  padding-right:0 !important;
	}
	.approved_notes_btn{
		padding-left:0 !important;
	  padding-right:0 !important;
	}
}

@media only screen and (min-width:320px) and (max-width:767px){
	.dropdown-menu li{
	  float:right;
	  width:150px;
	  background-color:transparent;
	  border:0;
	}
	 
	.dropdown-menu li:hover{
	  background-color:transparent;
	}
	 
	.dropdown-menu li a{
	  padding-left:0;
	  display:inline-block;
	  color:#343d46 !important;
	}
	 
	.dropdown-menu li:hover > a{
	  color:#37bf75 !important;
	}
}

@media only screen and (min-width:525px) and (max-width:767px){
	.reviewer_details li {
		font-size:16px;
		margin-right:7px;
	}
	.saved_notes_btn {
		padding-left:0 !important;
	  padding-right:0 !important;
	}
	.approved_notes_btn{
		padding-left:0 !important;
	  padding-right:0 !important;
	}

}

@media only screen and (min-width:480px) and (max-width:567px){
	.tech_note_txt {
		font-size:21px !important;
		color:#535353 !important;
	}
	.tacti_note_txt {
		font-size:21px !important;
		color:#535353 !important;
	}
}


@media only screen and (min-width:480px) and (max-width:524px){
	.col-sm-6.col-xs-5.text-left img {
		width:32px;
	}
	.reviewer_details li {
		font-size:14px;
		margin-right:3px;
	}
	.user_name {
		font-size:20px;
	}
	.saved_notes_btn {
		padding-left:0 !important;
	  padding-right:0 !important;
	}
	.approved_notes_btn{
		padding-left:0 !important;
	  padding-right:0 !important;
	}
}

@media only screen and (max-width:360px){
	.tab_content form ul li h2{
		font-size:18px;
	}

	.TabbedPanelsTab{
		font-size:15px !important;
	}

	.tab_content form ul li h2{
	  	font-size:15px;
	}
	.tab_content form ul li a {
	  	font-size:15px;
	}
	.tab_content form ul li button {
    	font-size: 15px;
	}
	.welcome p{
		font-size: 15px;
	}
	.our_reviewer_inc{
		font-size: 15px !important;
	}
	.reviewers_in h3{
		font-size: 15px !important;
	}
	.reviewers_in p{
		font-size: 15px !important;
	}
	.cancel_payment_btn{
		font-size: 15px;
	}

	.tab_content form ul li span input{
		font-size: 15px !important;
	}

	.table > thead > tr > th{
		font-size: 16px !important;
	}

	.video-title-txt h2{
		font-size: 16px !important;
	}

	.video-title-txt p{
		font-size: 15px !important;
	}

	.video-title-txt span{
		font-size: 15px !important;
	}

	.click_review_btn a{
		font-size: 14px !important;
	}

	.back_list_btn button{
		font-size: 18px !important;
	}

	.saved_notes_btn button{
		font-size: 18px !important;
	}

	.submit_notes_btn button{
		font-size: 18px !important;
	}

	.modal-body form ul li h2{
		font-size: 15px !important;
	}

	.modal-body form ul li button{
		font-size: 15px !important;
	}

	.table > tbody > tr > td{
		font-size: 15px !important;
	}

	.order_details h2{
		font-size: 18px !important;
	}

	.order_details li{
		font-size: 16px !important
	}

	.main_order_details p{
		font-size: 15px !important;
	}

	.main_order_details h3{
		font-size: 17px !important;
	}

	.main_order_details li{
		font-size: 16px !important;
	}
}

@media only screen and (min-width:320px) and (max-width:479px){
	.col-sm-6.col-xs-5.text-left img {
		width:32px;
	}

	.reviewer_details li {
		float:left;
		font-size:14px;
		margin-right:3px;
		line-height:30px;
	}

	.tech_note_txt {
		font-size:18px !important;
		color:#535353 !important;
	}

	.tacti_note_txt {
		font-size:18px !important;
		color:#535353 !important;
	}

	.user_name {
		font-size:18px;
	}

	.reviewer_user_bg > .navbar-nav > li > a {
		padding:0;
	}

	.saved_notes_btn {
		padding-left:0 !important;
	  padding-right:0 !important;
	}

	.approved_notes_btn{
		padding-left:0 !important;
	  padding-right:0 !important;
	}

	.reviewer_menu {
		min-width:300px !important;
		max-width:50% !important;
	}

	.rev_det_tab_img {
		display:none;
		width:auto !important;
	}

	.rev_det_tab_namel {
		font-size: 14px !important;
	}

	.rev_det_tab_namer {
		font-size: 14px !important;
	}

	.back_list_btn button{
		font-size: 18px !important;
	}

	.saved_notes_btn button{
		font-size: 18px !important;
	}

	.submit_notes_btn button{
		font-size: 18px !important;
	}

	.approved_notes_btn button a{
		font-size: 18px !important;
	}

	.approved_notes_btn button {
		font-size: 18px !important;
	}

	.reject_notes_btn button{
		font-size: 18px !important;
	}

	.reject_notes_btn button a{
		font-size: 18px !important;
	}

	.order_details li{
	  font-size:15px !important;
	  margin-right:0px !important;
	}

}

@media only screen and (min-width:260px) and (max-width:319px){
	.col-sm-6.col-xs-5.text-left img {
		width:32px;
	}
	.reviewer_details li {
		float:left;
		font-size:14px;
		margin-right:3px;
		line-height:30px;
	}
}