/**General css**/
body{
 font-family: 'Roboto Slab', serif;
 background-color:#eeeeee;
 padding-bottom:80px;
}

.main_bg {
 background:url(asset-path("main_bg.jpg"));
 background-size:cover;
 background-attachment:fixed;
}

.full-width{
	width:100% !important;
}

.white_bg{
	background-color:#fff;
}

.grey_bg{
	background-color:#343d46;
}

.dark_gray{
	color:#343d46 !important;
}

.green{
	color:#37bf75 !important;
}

.padding_tb_10{
	padding:10px 0;
}

.nopadding{
	padding:0 !important;
}

.nopadding_lr{
	padding-left:0 !important;
	padding-right:0 !important;
}

.nomargin{
	margin:0 !important;
}

.margin_5{
	margin:5px 0;
}

.margin_btm_30{
	margin-bottom:30px;
}

.margin_btm_20{
	margin-bottom:20px;
}

.padding_tb_20{
	padding:12px 0;
}

.container{
	width:960px;
}

/**General css closed**/

/**Header starts**/
.navbar-toggle {
	border: 1px solid #343d46;
	border-radius: 0;
}
.navbar-toggle .icon-bar {
		background:#343d46;
}

header{
	background-color:#343d46;
	padding:15px 0;
}

.logo{
	margin:0 auto;
	padding:0;
}

.logo img{
	margin:0 auto;
	width:210px;
}

.navigation{
	margin:0 auto;
}

.navigation ul{
	margin:0 auto;
	list-style:none;
	color:#fff;
	font-size:18px;
	text-align:center;
}

.navigation ul li{
	margin:0 auto;
	display:inline-block;
	padding:0 5px;
}

.navigation ul li a{
	margin:0 auto;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
}

.navigation ul li a:hover{
	color:#37bf75 !important;
}

/**Header closed**/

/**Main content starts**/
.tab_content form{
	margin:0 auto;
}

.tab_content form ul{
	list-style:none;
	padding:0;
	margin:0 auto;
}

.tab_content form ul li{
	margin-bottom:20px;
}

.tab_content form ul li h2{
	margin-top:0;
	text-align:left;
	font-weight:300;
	font-size:18px;
	color:#535353;
	display:inline-block;
}

.tab_content form ul li a{
	margin-top:0;
	text-align:left;
	font-weight:300;
	font-size:17px;
	color:#00366c;
	margin:0;
}

.tab_content form ul li span{
	width:100%;
	display:inline-block;
	text-align:left;
	border:2px solid #c5c5c5;
	padding:7px;
}

.tab_content form ul li span input{
	width:85%;
	outline:0;
	border:0;
	font-size:16px;
	color:#535353;
	background-color:transparent;
}

.tab_content form ul li span input[type='file']{
	display:inline-block;
	apperance:none;
}

.tab_content form ul li span textarea{
	max-width:85%;
	min-width:85%;
	border:0;
	resize:none;
	min-height:100px;
	color: #535353;
	font-size: 16px;
	outline: 0 none;
}

.tab_content form ul li span input[type='radio']{
	outline:0;
	border:0;
	font-size:16px;
	color:#535353;
	width:auto;
}

.tab_content form ul li span select{
	width:100%;
	font-size:16px;
	border:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline:0;
	padding:3px 0 4px 0;
	background-color:transparent;
	position:relative;
}

.arrow_down::after{
	content:"";
	position:absolute;
	right:10px;
	top:35%;
	width:10px;
	height:10px;
	background-color:transparent;
	color:red;
	border-left:1px solid #333;
	border-bottom:1px solid #333;
	z-index:999;
	transform:rotate(-45deg);
}

.tab_content form ul li button{
	display:inline-block;
	width:100%;
	padding:10px 0;
	margin-top:20px;
	color:#fff;
	font-size:18px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}

.tab_content form ul li button:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c;
}

.radio input{
	margin:0 !important;
	display:inline-block;
	position:relative !important;
}

.radio label{
	margin:0 10px 0 5px;
	padding:0;
	display:inline-block;
	font-size:14px;
	font-weight:300;
}
/**Main content Ends**/

/**Footer starts**/
footer{
	/*margin-top:30px;*/
	background-color:#fff;
	padding:12px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer ul{
	margin:0 auto;
	float:left;
	padding:0;
	list-style:none;
}

footer ul li{
	margin:0 auto;
	padding:0 10px;
	display:inline-block;
}

footer ul li:first-child{
	padding-left:0;
}

footer ul li a{
	font-size:17px;
	font-weight:300;
	color:#535353;
	text-decoration:none;
}

footer ul li a:hover{
	color:#1c1c1c;
	text-decoration:none;
}

.copy-right{
	float:right;
}

.copy-right p{
	font-size:17px;
	font-weight:300;
	color:#535353;
	margin-bottom:0;
}
/**Footer ends**/

.box {
	position:relative;
}

.box img{
	width:25px;
}

.radio, .checkbox{
	margin:4px 0 3px 0;
}

.fileUpload {
	overflow: hidden;
	margin: 10px;
	width:85%;
	position:absolute;
	top:0px;
	left:40px;
	opacity:0;
}

.fileUpload.btn.btn-primary > span{
	padding:0;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width:100%;
}

/**User Profile start**/
.navbar-nav > li{
	/*width:200px;*/
	text-align:right;
}

.navbar-nav > li > a{
	/*margin-top:5px;*/
	padding:0;
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-weight:inherit;
}

.navbar-nav > li > a> img{
	width:30px;
	margin-top:0px;
	margin-right:5px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav li a:hover, .nav li a:focus{
	background-color:transparent;
}

.dropdown-menu{
	width:100%;
	font-size:16px;
	border:1px solid #c2c2c2;
	border-radius:0;
	padding:0;
}

.dropdown-menu li{
	padding:10px 0;
	border-bottom:1px solid #c2c2c2;
}

.dropdown-menu li:hover{
	background-color:#e2e2e2;
}

.dropdown-menu > li > a{
	color:#535353;
	font-size:14px;
	font-weight:400;
}

.dropdown-menu li a:hover{
	background-color:transparent;
}

.dropdown-menu > li > a > i{
	margin-right:10px;
}
.icon-grey i{
 color:#c5c5c5;
}
/**User profile closed**/

/**Forgot Password**/
.notificaion_txt {
	width:100%;
	text-align:center !important;
}

.no-border {
	border-bottom:none;
	border-top:none;
}

.modal-header .close {
  margin-top:8px;
	margin-right:10px;
	opacity:1;
}
.modal-header, .modal-footer {
	padding:0;
}
.modal-content {
  border: none;
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal:before {
  content: '';
  display: block;
  height: 28%;
  vertical-align: middle;
}
.modal-body {
	clear:both;
}
/**Forgot Password**/
/**User profile closed**/


/**User Home Start**/
.welcome {
	background:rgba(197,197,197,0.5);
	border:1px solid #c5c5c5;
}
.welcome p {
	font-size:18px;
	color:#535353;
	font-weight:300;
	padding:10px;
}
.our_reviewer_inc button {
	display:inline-block;
	width:100%;
	padding:15px 0;
	margin-top:20px;
	color:#fff;
	font-size:24px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}
.reviewers_in {
	margin-top:20px;
}
.reviewers_in h3 {
	font-size:20px;
	color:#343d46;
	margin-bottom:5px;
}
.reviewers_in p {
	font-size:18px;
	color:#535353;
	font-weight:300;
}
.many_more_txt {
	font-size:16px;
	color:#535353;
	font-weight:300;
	margin-top:15px;
}
.purchase_review_button button {
	display:inline-block;
	width:100%;
	padding:15px 0;
	margin-top:20px;
	color:#fff;
	font-size:24px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}
.purchase_review_button button:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c;
}
/**User Home Closed**/


/**My Reviews Start**/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	text-align:left;
	font-size:18px;
	font-weight:300;
	color:#535353;
}
.table a {
	color:#535353;
}
.table > thead > tr > th {
	font-size:20px;
	color:#535353;
	font-weight:400;
}
/**My Reviews Closed**/

/**My Reviews List Start**/
.video-title-txt {
 border-bottom:1px solid #b2b2b2;
}
.video-title-txt:last-child {
 border-bottom:none;
}
.video-title-txt h2{
 font-size:20px;
 font-weight:300;
 color:#65737e;
 margin-top:0;
}
.video-title-txt p{
 font-size:16px;
 font-weight:300;
 color:#65737e;
}
.video-title-txt span{
 font-size:16px;
 font-weight:300;
 color:#65737e;
 padding:0 5px;
}
.revise_review_btn{
 padding:5px 8px;
 font-size:16px;
 font-weight:300;
 color:#676767;
 border:1px solid #c5c5c5;
 background:#fff;
}
.revise_review_btn a{
 font-size:16px;
 font-weight:300;
 color:#676767;
 text-decoration:none;
}
.click_review_btn {
 background:#343d46;
 color:#fff;
 padding:5px 8px;
 border:1px solid #f0f0f0;
}
.click_review_btn a{
 color:#fff;
 font-size: 16px;
 font-weight:300;
 text-decoration:none;
}
.border-none{
 border:none !important;
}
/**My Reviews List Closed**/

/**Reviewers My Reviews Start**/
.review_table {
	width:auto;
}
.review_table ul{
	margin:0;
	padding:0;
}
.review_table ul li{
	display:inline;
	margin-right:7px;
}

.revise_review {
	border:1px solid #c5c5c5;
	padding:10px;
	font-size:16px;
	color:#676767;
}
.revise_review a{
	color:#676767;
	text-decoration:none;
}
/**Reviewers My Reviews Closed**/

.user_name {
	color:#1c1c1c;
	font-size:23px;
	font-weight:300;
	padding: 11px 15px;
}
.review_btn {
	background:#343d46;
	color:#fff;
	padding:10px 20px;
	border:2px solid #f0f0f0;
}
.review_btn a{
	color:#fff;
	text-decoration:none;
}
.reviewer_user_bg {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(69, 79, 88, 1) 0%, rgba(69, 79, 88, 1) 50%, rgba(52, 61, 70, 1) 50%, rgba(101, 115, 126, 1) 100%) repeat scroll 0 0;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	padding: 9px 10px;
}

/**Admin Review Pending Approval Start**/
.table_cus_bord > .table-responsive {
	border:none;
}
.video_notes > ul {
	border-bottom:1px solid #dbdbdb;
}
.video_notes > .nav-pills > li + li {
	margin-left:0;
}
.video_notes > ul > li a {
	color:#535353;
	font-size:30px;
	background-color:transparent;
	border-radius:0px;
	text-align:left;
	padding-left:0;
}
.video_notes > .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color:#535353;
	font-size:30px;
	border-bottom:1px solid #37bf75;
	background-color:transparent;
	border-radius:0px;
	text-align:left;
	padding-left:0;
}
.video_notes > .tab-content > .tab-pane {
	margin-top:15px;
}
.reject_notes_btn button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab2323+0,9b1313+50,8e0606+51,cb4343+100 */
	background: #ab2323; /* Old browsers */
	background: -moz-linear-gradient(top,  #ab2323 0%, #9b1313 50%, #8e0606 51%, #cb4343 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ab2323 0%,#9b1313 50%,#8e0606 51%,#cb4343 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ab2323 0%,#9b1313 50%,#8e0606 51%,#cb4343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab2323', endColorstr='#cb4343',GradientType=0 ); /* IE6-9 */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0px;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:left;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
}
.reject_notes_btn button a{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
}
.approved_notes_btn button {
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:right;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
}
.approved_notes_btn button a{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
}
/**Admin Review Pending Approval Closed**/

/**Reviewers Review Details Start**/
.green_main_bg {
	background: rgb(86,220,147); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(86,220,147,1) 0%, rgba(86,220,147,1) 50%, rgba(63,200,125,1) 50%, rgba(80,218,143,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	outline:0;
}
.navbar-nav > li > .reviewer_menu {
	border:none !important;
}
.navbar-nav > li > .reviewer_menu {
	margin-top:12px;
	margin-right:-10px;
}
.reviewer_menu{
	min-width:550px;
	max-width:100%;
	background:#343d46;
	position:absolute;
	top:50px;
}
.reviewer_menu > .table-responsive > .table-striped {
   margin-bottom:0;
}
.reviewer_menu > .table-responsive > .table-striped {
   margin-bottom:0;
}
.reviewer_menu > .table-responsive > .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #4e5861;
}
/*.reviewer_menu > .table-responsive > .table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
   color:#fff;
	 font-size:20px;
	 font-weight:400;
}
.reviewer_menu > .table-responsive > .table-striped > tbody > tr > td:nth-child(5n+0) {
	 font-weight:300;
}*/
.reviewer_menu > .table-responsive > .table-striped > tbody > tr, td {
   border:none!important;
}
.back_list_btn button {
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #1c1c1c;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:left;
}
.back_list_btn button a {
	color: #1c1c1c;
	text-decoration: none;
}

.saved_notes_btn button {
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:right;
}
.saved_notes_btn button a {
	color: #fff;
}
.submit_notes_btn button {
	background: rgb(86,220,147); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(86,220,147,1) 0%, rgba(86,220,147,1) 50%, rgba(63,200,125,1) 50%, rgba(80,218,143,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #1c1c1c;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:right;
}
.submit_notes_btn button a{
	color: #1c1c1c;
	text-decoration: none;
}
.back_list_btn button {
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
}
.back_list_btn button a {
	color: #fff;
}

.rev_det_tab_img {
	width:8%;
	text-align:center;
	vertical-align:middle;
}
.rev_det_tab_namel {
	color: #fff !important;
	font-size: 20px !important;
	font-weight: 400 !important;
}
.rev_det_tab_namer {
	color: #fff !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.tech_note_txt {
 	color: #535353 !important;
  font-size: 23px !important;
  font-weight: 300;
}
.tacti_note_txt {
 	color: #535353 !important;
  font-size: 23px !important;
  font-weight: 300;
}
/**Reviewers Review Details Closed**/


/**Reviewers Pending Reviews Start**/
.main_order_details {
	padding:15px;
}
.main_order_details ul {
	list-style:none;
	padding-left:0;
}
.main_order_details li{
	display:inline;
	margin-right:15px;
	font-size:20px;
	font-weight:300;
	color:#535353;
	line-height:60px;
	vertical-align:middle;
}
.approved_btn{
	display:inline;
	margin-right:15px;
	color:#ffffff!important;
	font-size:15px!important;
	background:#39c177!important;
	padding:12px;
	line-height:normal !important;
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:5px;
}
.main_order_details > .table-responsive {
	border:none;
}
.border_btm {
	border-bottom:2px solid #ddd;
}
.main_order_details h2 {
	font-size:20px;
	color:#535353;
	font-weight:400;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:15px;
	border-bottom:2px solid #b2b2b2;
}
.main_order_details h3 {
	font-size:20px;
	color:#535353;
	font-weight:300;
	margin-top:0;
}
.main_order_details p {
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:justify;
}
.light_txt {
	font-weight:300;
}
/**Reviewers Pending Reviews Closed**/


/*
Admin Side
*/

/*Dashboard starts*/
.dashboard{
	margin:0 auto;
}

.dashboard ul{
	margin:0 auto;
	padding:0;
	list-style:none;
}

.dashboard ul li{
	display:inline-block;
	margin:0 auto;
	margin-bottom:30px;
}

.dashboard ul li a{
	background-color:#fff;
	display:inline-block;
	width:100%;
	padding:60px 0;
	text-align:center;
	text-decoration:none;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
}

.dashboard ul li a:hover > h2, .dashboard ul li a:hover > h3{
	transform:scale(1.2);
}

/*.dashboard ul li a:hover{
	-webkit-box-shadow: -2px -2px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px -2px 4px 0px rgba(0,0,0,0.35);
	box-shadow: -2px -2px 4px 0px rgba(0,0,0,0.35);
}*/

.dashboard ul li a h2{
	color:#37bf75;
	font-size:40px;
	margin-bottom:15px;
	margin-top:0;
	transition:0.3s;
}

.dashboard ul li a h3{
	color:#535353;
	font-size:18px;
	margin:0;
	transition:0.3s;
}

.ad_order > .table{
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
}
.ad_order >.table > tbody > tr{
	border-bottom:1px solid #ddd;
}
.ad_order >.table > tbody > tr > td{
	padding:40px 10px;
}
.ad_order >.table > tbody > tr > td a{
	text-decoration:none;
}

/*Pagination*/
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
}

.pagination > li > a, .pagination > li > span{
	border:none;
}

.page{
	margin-bottom:15px;
}

.page h4{
	margin:0 auto;
	display:inline-block;
	padding-top:7px;
	font-weight:300;
	font-size:16px;
}

ul.pagination li a.active{
	background-color:#38bf76;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
/*Pagination closed*/

/*
Admin Side closed
*/

.modal-body form{
	margin:0 auto;
}

.modal-body form ul{
	list-style:none;
	padding:0;
	margin:0 auto;
}

.modal-body form ul li{
	margin-bottom:20px;
}

.modal-body form ul li h2{
	margin-top:0;
	/*text-align:center!important;*/
	font-weight:300;
	font-size:16px;
	color:#535353;
	display:inline-block;
}

.modal-body form ul li a{
	margin-top:0;
	text-align:left;
	font-weight:300;
	font-size:22px;
	color:#00366c;
	margin:0;
}

.modal-body form ul li span{
	width:100%;
	display:inline-block;
	text-align:left;
	border:2px solid #c5c5c5;
	padding:7px;
}

.modal-body form ul li span input{
	width:85%;
	outline:0;
	border:0;
	font-size:16px;
	color:#535353;
	background-color:transparent;
}

.modal-body form ul li button{
	display:inline-block;
	width:100%;
	padding:10px 0;
	margin-top:20px;
	color:#fff;
	font-size:18px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}

.modal-body form ul li button:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c;
}

.view_profile_img img {
 width:100%;
}
.view_profile_data {
 text-align:left;
}
.view_profile_data img {
 padding-right:8px;
}
.view_profile_data span {
 color:#676767;
 font-size:16px;
 font-weight:300;
}
.profile_pic{
	border:2px solid #ccc;
	padding:8px;
	display:inline-block;
	max-width:220px;
	max-height:220px;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}

.cancel_btn{
	position:absolute;
	top:0;
	right:0;
	background-color:#bf3737;
	padding:0 0 2px 2px;
	z-index:999;
}

.cancel_btn i{
	padding:0;
	margin:0;
	color:#fff;
	line-height:0;
	padding:0 5px;
}

.profile_pic img{
	width:100%;
	margin:0 auto;
}

.profile_pic input[type='file']{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	/*cursor:pointer;*/
}

.upload_photo{
	background-color:rgba(0,0,0,0.8);
	padding:5px;
	position:absolute;
	bottom:-50px;
	left:0;
	width:100%;
	text-align:center;
	transition:0.3s;
}

.upload_photo p{
	font-size:14px;
	color:#fff;
	margin:0;
}

.profile_pic:hover > .upload_photo{
	bottom:0;
}

/**Reviewers Review Details Start**/
.green_main_bg {
	background: rgb(86,220,147); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(86,220,147,1) 0%, rgba(86,220,147,1) 50%, rgba(63,200,125,1) 50%, rgba(80,218,143,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	outline:0;
}
.navbar-nav > li > .reviewer_menu {
	border:none !important;
}
.navbar-nav > li > .reviewer_menu {
	margin-top:-1px;
	margin-right:-10px;
}
.reviewer_menu{
	min-width:550px;
	max-width:100%;
	background:#343d46;
	position:absolute;
	top:50px;
}
.reviewer_menu > .table-responsive > .table-striped {
   margin-bottom:0;
}
.reviewer_menu > .table-responsive > .table-striped {
   margin-bottom:0;
}
.reviewer_menu > .table-responsive > .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #4e5861;
}
/*.reviewer_menu > .table-responsive > .table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
   color:#fff;
	 font-size:20px;
	 font-weight:400;
}
.reviewer_menu > .table-responsive > .table-striped > tbody > tr > td:nth-child(5n+0) {
	 font-weight:300;
}*/
.reviewer_menu > .table-responsive > .table-striped > tbody > tr, td {
   border:none!important;
}
.back_list_btn button {
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 23px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:left;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff; 
}
.back_list_btn button a {
	color: #fff;
}

.saved_notes_btn button {
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 23px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:right;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff; 
}
.saved_notes_btn button a {
	color: #fff;
}
.submit_notes_btn button {
	background: rgb(86,220,147); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(86,220,147,1) 0%, rgba(86,220,147,1) 50%, rgba(63,200,125,1) 50%, rgba(80,218,143,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(86,220,147,1) 0%,rgba(86,220,147,1) 50%,rgba(63,200,125,1) 50%,rgba(80,218,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 0 none;
	color: #1c1c1c;
	display: inline-block;
	font-size: 23px;
	font-weight: 300;
	margin: 20px 0;
	outline: 0 none;
	padding: 7px 0;
	width:100%;
	height:100%;
	float:right;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff; 
}
.submit_notes_btn button a{
	color: #1c1c1c;
}


.rev_det_tab_img {
	width:8%;
	text-align:center;
	vertical-align:middle;
}
.rev_det_tab_namel {
	color: #fff !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}
.rev_det_tab_namer {
	color: #fff !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.padding_top_0 {
 padding-top:0 !important;
}
/**Reviewers Review Details Closed**/

.cancel_payment_btn{
	display:inline-block;
	width:100%;
	padding:10px 0;
	margin-top:20px!important;
	margin-bottom:20px!important;
	color:#fff!important;
	font-size:20px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
	text-decoration: none!important;
	text-align: center!important;
}

.cancel_payment_btn:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c!important;
}

.add_btn button{
 display:inline-block;
 width:100%;
 padding:15px 0;
 margin-top:20px;
 color:#fff;
 font-size:24px;
 font-weight:300;
 background: rgb(69,79,88); /* Old browsers */
 background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%);
 background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%);
 background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%);
 border:0;
 outline:0;
 margin-bottom:15px;
}
.add_btn button:hover{
 background: rgb(210,210,210); /* Old browsers */
 background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%);
 background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%);
 background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%);
 color:#1c1c1c;
}

/**My Reviews Details Start**/
.reviewer_details {
	margin-bottom:25px;
}
.reviewer_details ul {
	list-style:none;
	padding-left:0;
}
.reviewer_details li{
	display:inline;
	margin-right:15px;
	font-size:24px;
	color:#65737e;
	line-height:60px;
	vertical-align:middle;
}
.reviewer_details span {
	font-size:22px;
	color:#535353;
	font-weight:400;
}
.reviewer_details p {
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:justify;
}
.reviewer_details h3 {
	font-size:20px;
	color:#535353;
	font-weight:400;
	margin-top:0;
}
.border2px {
	margin:0 auto;
	border-top:2px solid #b2b2b2;
}
.order_details {
	border-top:2px solid #b2b2b2;
	padding:15px;
}
.order_details ul {
	list-style:none;
	padding-left:0;
}
.order_details li{
	display:inline;
	margin-right:15px;
	font-size:20px;
	font-weight:300;
	color:#535353;
	line-height:60px;
	vertical-align:middle;
}
.order_details h2 {
	font-size:20px;
	color:#535353;
	font-weight:400;
	margin-top:0;
	margin-bottom:0;
}
.order_details h3 {
	font-size:20px;
	color:#535353;
	font-weight:300;
	margin-top:0;
}
.order_details p {
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:justify;
}
/**My Reviews Details Closed**/

.header_title h2{
	color:#fff;
	margin:0;
	margin-top:4px;
	font-size:22px;
}

nav #menu-toggle:checked ~ ul{
	text-align:left;
}

.navbar-nav > li > .dropdown-menu{
	margin-top: 5px;
}
