/**General css**/
body{
	font-family: 'Roboto Slab', serif;
	background-color:#eeeeee;
}

.full-width{
	width:100% !important;
}

.white_bg{
	background-color:#fff;
}

.grey_bg{
	background-color:#343d46;
}

.dark_gray{
	color:#343d46 !important;
}

.green{
	color:#37bf75 !important;
}

.padding_tb_10{
	padding:10px 0;
}

.nopadding{
	padding:0 !important;
}

.nopadding_lr{
	padding-left:0 !important;
	padding-right:0 !important;
}

.nomargin{
	margin:0 !important;
}

.margin_btm_30{
	margin-bottom:30px;
}

.margin_btm_20{
	margin-bottom:20px;
}

.padding_tb_20{
	padding:20px 0;
}

.container{
	width:960px;
}

/**General css closed**/

/**Header starts**/
.navbar-toggle {
	border: 1px solid #343d46;
	border-radius: 0;	
}
.navbar-toggle .icon-bar {
		background:#343d46;
}

header{
	background-color:#343d46;
	padding:15px 0;
}

.logo{
	margin:0 auto;
	padding:0;
}

.logo img{
	margin:0 auto;
	width:280px;
}

.navigation{
	margin:0 auto;
}

.navigation ul{
	margin:0 auto;
	list-style:none;
	color:#fff;
	font-size:22px;
}

.navigation ul li{
	margin:0 auto;
	display:inline-block;
	padding:0 5px;
}

.navigation ul li a{
	margin:0 auto;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
}

.navigation ul li a:hover{
	color:#37bf75 !important;
}

/**Header closed**/

/**Main content starts**/
.tab_content{

}

.tab_content form{
	margin:0 auto;
}

.tab_content form ul{
	list-style:none;
	padding:0;
	margin:0 auto;
}

.tab_content form ul li{
	margin-bottom:20px;
}

.tab_content form ul li h2{
	margin-top:0;
	text-align:left;
	font-weight:300;
	font-size:20px;
	color:#535353;
	display:inline-block;
}

.tab_content form ul li a{
	margin-top:0;
	text-align:left;
	font-weight:300;
	font-size:22px;
	color:#00366c;
	margin:0;
}


.tab_content form ul li span{
	width:100%;
	display:inline-block;
	text-align:left;
	border:2px solid #c5c5c5;
	padding:10px;
}

.tab_content form ul li span input{
	width:85%;
	outline:0;
	border:0;
	font-size:16px;
	color:#535353;
	background-color:transparent;
}

.tab_content form ul li span input[type='file']{
	display:inline-block;
	apperance:none;
}

.tab_content form ul li span textarea{
	max-width:85%;
	min-width:85%;
	border:0;
	resize:none;
	min-height:100px;
    color: #535353;
    font-size: 16px;
    outline: 0 none;
}

.tab_content form ul li span input[type='radio']{
	outline:0;
	border:0;
	font-size:16px;
	color:#535353;
	width:auto;
}

.tab_content form ul li span select{
	width:100%;
	font-size:16px;
	border:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline:0;
	padding:3px 0 4px 0;
	background-color:transparent;
	position:relative;
}

.arrow_down::after{
	content:"";
	position:absolute;
	right:10px;
	top:35%;
	width:10px;
	height:10px;
	background-color:transparent;
	color:red;
	border-left:1px solid #333;
	border-bottom:1px solid #333;
	z-index:999;
	transform:rotate(-45deg);
}


.tab_content form ul li button{
	display:inline-block;
	width:100%;
	padding:15px 0;
	margin-top:20px;
	color:#fff;
	font-size:24px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}

.tab_content form ul li button:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c;
}

.radio input{
	margin:0 !important;
	display:inline-block;
	position:relative !important;
}

.radio label{
	margin:0 10px 0 5px;
	padding:0;
	display:inline-block;
	font-size:14px;
	font-weight:300;
}
/**Main content Ends**/

/**Footer starts**/
footer{
	margin-top:30px;
	background-color:#fff;
	padding:15px 0;
}

footer ul{
	margin:0 auto;
	float:left;
	padding:0;
	list-style:none;
}

footer ul li{
	margin:0 auto;
	padding:0 10px;
	display:inline-block;
}

footer ul li:first-child{
	padding-left:0;
}

footer ul li a{
	font-size:17px;
	font-weight:300;
	color:#535353;
	text-decoration:none;
}

footer ul li a:hover{
	color:#1c1c1c;
	text-decoration:none;
}

.copy-right{
	float:right;
}

.copy-right p{
	font-size:17px;
	font-weight:300;
	color:#535353;
	margin-bottom:0;
}
/**Footer ends**/

.box {
	position:relative;
}

.box img{
	width:25px;
}

.radio, .checkbox{
	margin:4px 0 3px 0;
}

.fileUpload {
    overflow: hidden;
    margin: 10px;
	width:85%;
	position:absolute;
	top:0px;
	left:40px;
	opacity:0;
}

.fileUpload.btn.btn-primary > span{
	padding:0;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	width:100%;
}

/**User Profile**/
.navbar-nav > li{
	/*width:200px;*/
	text-align:right;
}

.navbar-nav > li > a{
	margin-top:5px;
	padding:5px 0 5px 10px;
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-weight:lighter;
}

.navbar-nav > li > a> img{
	width:30px;
	margin-top:-7px;
	margin-right:5px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav li a:hover, .nav li a:focus{
	background-color:transparent;
}

.dropdown-menu{
	width:100%;
	font-size:16px;
	border:1px solid #c2c2c2;
	border-radius:0;
	padding:0;
}

.dropdown-menu li{
	padding:10px 0;
	border-bottom:1px solid #c2c2c2;
}

.dropdown-menu li:hover{
	background-color:#e2e2e2;
}

.dropdown-menu > li > a{
	color:#535353;
	font-size:16px;
	font-weight:300;
}

.dropdown-menu li a:hover{
	background-color:transparent;
}

.dropdown-menu > li > a > i{
	margin-right:10px;
}

/**Forgot Password**/
.notificaion_txt {
	text-align:center !important	
}
.no-border {
	border-bottom:none;	
	border-top:none;
}
.modal-header .close {
  margin-top:10px;
	margin-right:10px;
	opacity:1;
}
.modal-header, .modal-footer {
	padding:0;	
}
.modal-content {
  border: none;
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal:before {
  content: '';
  display: block;
  height: 28%;
  vertical-align: middle;
}
.modal-body {
	clear:both;
}
/**Forgot Password**/
/**User profile closed**/

/**User Home**/
.welcome {
	background:rgba(197,197,197,0.5);
	border:1px solid #c5c5c5;	
}
.welcome p {
	font-size:22px;
	color:#535353;
	font-weight:300;
	padding:10px;
}
.our_reviewer_inc button {
	display:inline-block;
	width:100%;
	padding:15px 0;
	margin-top:20px;
	color:#fff;
	font-size:24px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}
.reviewers_in {
	margin-top:20px;	
}
.reviewers_in h3 {
	font-size:20px;	
	color:#343d46;
	margin-bottom:5px;
}
.reviewers_in p {
	font-size:18px;	
	color:#535353;
	font-weight:300;
}
.many_more_txt {
	font-size:16px;	
	color:#535353;
	font-weight:300;
	margin-top:15px;
}
.purchase_review_button button {
	display:inline-block;
	width:100%;
	padding:15px 0;
	margin-top:20px;
	color:#fff;
	font-size:24px;
	font-weight:300;
	background: rgb(69,79,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,79,88,1) 0%, rgba(69,79,88,1) 50%, rgba(52,61,70,1) 50%, rgba(101,115,126,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,79,88,1) 0%,rgba(69,79,88,1) 50%,rgba(52,61,70,1) 50%,rgba(101,115,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:0;
	outline:0;
}
.purchase_review_button button:hover{
	background: rgb(210,210,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%, rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 50%, rgba(189,189,189,1) 50%,  rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color:#1c1c1c;
}
/**User Home**/

/**My Reviews**/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	text-align:left;
	font-size:18px;
	font-weight:300;
	color:#535353;	
}
.table a {
	color:#535353;	
}
.table > thead > tr > th {
	font-size:22px;
	color:#535353;
	font-weight:400;	
}
/**My Reviews**/

/**My Reviews Details**/
.reviewer_details {
	margin-bottom:25px;
}
.reviewer_details ul {
	list-style:none;
	padding-left:0;
}
.reviewer_details li{
	display:inline;
	margin-right:15px;
	font-size:24px;
	color:#65737e;
	line-height:60px;
	vertical-align:middle;
}
.reviewer_details span {
	font-size:22px;
	color:#535353;
	font-weight:400;
}
.reviewer_details p {
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:justify;
}
.reviewer_details h3 {
	font-size:20px;
	color:#535353;
	font-weight:400;
	margin-top:0;
}

.border2px {
	margin:0 auto;
	border-top:2px solid #b2b2b2;
}

.order_details {
	border-top:2px solid #b2b2b2;
	padding:15px;
}
.order_details ul {
	list-style:none;
	padding-left:0;
}
.order_details li{
	display:inline;
	margin-right:15px;
	font-size:20px;
	font-weight:300;
	color:#535353;
	line-height:60px;
	vertical-align:middle;
}
.order_details h2 {
	font-size:20px;
	color:#535353;
	font-weight:400;
	margin-top:0;
	margin-bottom:0;
}
.order_details h3 {
	font-size:20px;
	color:#535353;
	font-weight:300;
	margin-top:0;
}
.order_details p {
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:justify;
}
/**My Reviews Details**/


.review_table {
	width:auto;
}
.review_table ul{
	margin:0;
	padding:0;
	
}
.review_table ul li{
	display:inline;
	margin-right:7px;
}