<h3>My Reviews</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Review Time</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= "#{review.order.user.try(:fullname)}'s #{review.order.try(:title)}" %></td>
        <td><%= review.review_time %> seconds</td>
      </tr>
    <% end %>
  </tbody>
</table>
