<h3>My Reviews</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= "#{review.order.user.try(:fullname)}'s #{review.order.try(:title)}" %></td>
        <td><%= Order::STATUS.key(review.order.status) %></td>
        <td><%= link_to 'Details', review_path(review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
