<h3>My Reviews</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th>User Videos</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= image_tag review.order.videos.first.video_url(:thumb) %></td>
        <td><%= "#{review.order.user.try(:fullname)}'s #{review.order.try(:title)}" %></td>
        <td><%= Order::STATUS.key(review.order.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
