<h3>Video Pending Review</h3>

<table>
  <thead>
    <tr>
      <th>User Videos</th>
      <th colspan="2">Review</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %></td>
        <td>
          <%= link_to 'Click To Review', review_order_path(order) %>
          <% if order.status == 7 %>
            <%= link_to 'Cancel', review_path(order.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
