<h3>Pending Reviews</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= "#{order.user.fullname}'s #{order.title}" %></td>
        <td><%= link_to 'Click To Review', review_order_path(order) %></td>
        <% if order.status == 7 %>
          <td><%= link_to 'Cancel', review_path(order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
